
<% 3.times do |row| %>
    <div class="row">
        <% 3.times do |col| %>
            <span class="cell">
                <% if match.get_cell(row, col) != "" %>
                    <%= image_tag("player_#{match.get_cell(row, col).downcase}.png") %>
                <% else %>
                    <%= button_to image_tag("player_#{match.current_player.downcase}.png"), match_move_path(match), params: { row: row, col: col }, method: :post %>
                <% end %>
            </span>
        <% end %>
    </div>
<% end %>