<% if match.winner == nil %>
    <h4> It's currently player <%= match.current_player %> turn</h4>
<% elsif match.winner == "T" %> 
    <h4> It's a tie!</h4>
<% else %>
    <h4> Player <%= match.winner %> has won the game!</h4>
<% end %>