<% 3.times do |row| %>
  <div class="row">
    <% 3.times do |col| %>
      <span class="cell">
        <% if match.get_cell(row, col) != "" %>
          <%= image_tag("player_#{match.get_cell(row, col).downcase}.png") %>
        <% else %>
          <%= image_tag("empty-cell.png") %>
        <% end %>
      </span>
    <% end %>
  </div>
<% end %>