<div class="container">
    <form action="/matches" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input class="mdl-button mdl-js-button mdl-button--raised" type="submit" value="New Game">
    </form>
</div>
